
<strong>Edit User:</strong><br><br>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username, placeholder: "Username1234" %>
  </div>
  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email, placeholder: "blahblah@blah.com"%>
  </div>
  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password, placeholder: "(8-20 characters)" %>
  </div><br>
  <div>
    <%= form.submit "Submit" %>
  <div>
<% end %>