<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<strong>New User:</strong><br><br>
<!--
<form action="/users" method="post" accept-charset="UTF-8">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="username">Username:</label>
  <input type="text" name="user[username]" id="username"><br><br>
  <label for="email">Email:</label>
  <input type="email" name="user[email]" id="email"><br><br>
  <label for="password">Password (must be at least 8 characters):</label>
  <input type="password" name="user[password]" id="password"><br><br>
  <input type="submit" value="Submit">
</form> 
-->
<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :username %><br>
    <%= form.text_field :username, placeholder: "Username1234" %>
  </div>
  <div>
    <%= form.label :email %><br>
    <%= form.email_field :email, placeholder: "blahblah@blah.com"%>
  </div>
  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password, placeholder: "(8-20 characters)" %>
  </div><br>
  <div>
    <%= form.submit "Submit" %>
  <div>
<% end %>

